$darkPurple: #231942;
// $lightPurple: #7C7093;
$lightPurple: #A679FF;
$lightBlue: #bcf0fd;
// $darkBlue:;
$darkBlue: #00CAFA;
$white: #ffffff;
$light-gray-background: #f2f2f2;
$inputBorder: 2px solid #231942;

// * mixins

//Paddings---------------------------------------------------|
@mixin large-padding-top {
  padding-top: 50px !important;
}

@mixin large-padding-bottom {
  padding-bottom: 50px !important;
}

@mixin medium-padding-top {
  padding-top: 30px !important;
}

@mixin medium-padding-bottom {
  padding-bottom: 30px !important;
}

@mixin small-padding-top {
  padding-top: 10px !important;
}

@mixin small-padding-bottom {
  padding-bottom: 10px !important;
}

@mixin large-padding-right {
  padding-right: 50px !important;
}

@mixin large-padding-left {
  padding-left: 50px !important;
}

@mixin medium-padding-right {
  padding-right: 30px !important;
}

@mixin medium-padding-left {
  padding-left: 30px !important;
}

@mixin small-padding-right {
  padding-right: 10px !important;
}

@mixin small-padding-left {
  padding-left: 10px !important;
}

@mixin custom-padding($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left !important;
}


//Borders---------------------------------------------------\

@mixin border-bottom {
  border-bottom: 1px solid #c6c6c6;
}