@mixin for-tablet-portrait-up {}

@mixin for-phone-only {}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

.admin-navbar {
  display: flex;
  height: 76px;
  align-items: center;
  background-color: #7C7093;
  padding: 0 130px;
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 30px;

  .title {
    background: rgb(255, 255, 255);
    width: 100%;
    max-width: 145px;
    text-align: center;
    padding: 11px;
    color: #695395;
    font-weight: 700;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navbarNav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #navbarNav ul {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }

  #navbarNav .active {
    border-bottom: 3px solid #ffffff;
  }

  #navbarNav ul li {
    float: left;
    margin: 10px;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

@include for-tablet-landscape-up {
  padding: 20px;
}