@mixin for-tablet-portrait-up {}

@mixin for-phone-only {}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

.admin {
  text-align: left;
  background-color: #ffffff;
  height: 100vh;
  overflow: scroll;

  .blogs-header-bar {
    display: flex;
    align-items: center;
  }

  th {
    border: 0 !important;
  }

  td {
    border: 0 !important;
  }

  th,
  td {
    padding: 40px;
  }

  .blogDisplay {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8b8b8b52;
    border-radius: 10px;
    padding: 20px;
  }
}

@include for-tablet-landscape-up {
  padding: 20px;
}