.meet {
  overflow: hidden;

  .column {
    padding: 50px;
  }


  .miniNav {}

  .aboutSection {
    background-color: #F2F2F2;



    ul {

      display: flex;
      justify-content: center;
    }

    ul li {
      margin-right: 20px;
    }

    .socials {
      margin-top: 20px;
    }

    .info {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      /* text-align: left; */
      align-items: flex-start;
    }

    h1 {

      transition: all .5s ease;
      opacity: 0;
    }

    #storeLink {
      position: relative;
      text-decoration-line: underline;
    }

    .summaries {
      transition: all .5s ease;
      opacity: 0;
      padding: 20px 0;
    }

    .imgColumn {

      justify-content: flex-end;
      align-content: flex-end;
      align-items: flex-end;
      display: flex;

      .aboutImg {
        max-width: 270px;
      }
    }
  }

  .book {
    img {
      max-width: 200px;
      width: 100%;

      &:hover {
        animation: wiggle .5s;
      }
    }



  }
}



@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
  }

  25% {
    -webkit-transform: rotate(-10deg);
  }

  50% {
    -webkit-transform: rotate(20deg);
  }

  75% {
    -webkit-transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(1deg);
  }

  25% {
    -ms-transform: rotate(-1deg);
  }

  50% {
    -ms-transform: rotate(1.5deg);
  }

  75% {
    -ms-transform: rotate(-5deg);
  }

  100% {
    -ms-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}