@import './mixins/LayoutMixins.scss';
@import './_vars.scss';
@import './Homepage/main.scss';
@import '../Components/Navbar/navbar.scss';
@import '../Components/Navbar/navPanel.scss';
@import "./Admin/adminnav.scss";
@import "./Admin/admin.scss";
@import "./Admin/adminlogin.scss";
@import "../Components/IconNav/style.scss";
@import "./ConvertKit/convertKit.scss";
@import "./Homepage/collectionSlider.scss";
@import "./Homepage/AboutSection.scss";
@import "./ConvertKit/slide.scss";
@import "./Blog/my-blog.scss";
@import "./Blog/blog.scss";
@import "./MiniConvert/miniConvert.scss";
@import "./Blog/draftjs.scss";
@import "./Reading/reading.scss";
@import "./CommentCard/commentCard.scss";
@import "./Freebies/freebies.scss";
@import "../Components/Footer/footer.scss";
@import "../Components/Footer/mobile.scss";
@import "./MeetJenn/meetJenn.scss";
@import "./Card/card.scss";
@import "./Contact/contact_page.scss";
@import "./BlogSlider/blog-slider.scss";
@import "./Homepage/socials.scss";
@import "./TitleComponent/TitleComponent.scss";
@import "../Components/SearchBar/SearchBar.scss";
@import "./Admin/admin-blog.scss";
@import "../node_modules/bulma/bulma.sass";

$primary: 'Cabin',
serif;
$secondary: 'Lato',
sans-serif;
$tertiary: 'Roboto',
sans-serif;
$bold: 700;
$light: 200;

@include for-phone-only {
  // .container-fluid {
  //   padding: 0 20px;
  // }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
    padding: 10px;
  }

  h2 {
    font-size: 15px;
    padding: 10px;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


a .center {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #000000;
}

.border-bottom {
  border-bottom: 1px solid #80808047 !important;
}

ul {
  list-style-type: none;
}

.padding-30 {
  padding: 30px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-10 {
  padding: 10px;
}

.card-shadow {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 20px 40px #a06cd5a6;
  padding: 30px;
}

a {

  font-family: $tertiary !important;
  font-size: 15px;
}

#sub-link {
  color: $lightPurple;
  font-family: $secondary;
  font-size: 20px;
  text-decoration: underline;
  transition: all .5s ease;

  &:hover {
    color: $darkPurple;
  }
}

nav {
  max-height: 70px;
  height: 100%;
}

h2 {
  font-family: $secondary;
  font-weight: $bold;
  font-size: 20px;
  color: $darkPurple
}

h1 {
  font-family: $primary;
  font-weight: $bold;
  // font-size: 50px;
  color: $darkPurple;
  font-family: "Cabin", serif;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  border-image-slice: #231942;
  text-shadow: 0 4px 12px rgba(59, 3gg3, 54, 0.274);
  align-items: center;
  justify-content: center;
}

p {
  font-family: $tertiary;
  font-size: 15px;
}

//backgrounds
.light-gray-background {
  background-color: $light-gray-background;
}

.medium-padding-bottom {
  @include medium-padding-bottom;
}

.margin-top-30 {
  margin-top: 30px;
}

.lightFont {
  font-family: $secondary;
  font-size: 15px;
  color: #979BAE;
}

// for the searchbar in the navbar

.icon-button {
  border-radius: 0 8px 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding-right: 15px;
  padding-left: 15px;
}

//for a white background section
.white {
  background-color: $white !important;
}


.primary-button {
  background-color: $lightPurple;
  color: $darkPurple;
  font-family: $secondary;
  text-transform: uppercase;
  max-width: 200px;
  width: 90%;
  transition: all .5s ease;

  &:hover {
    background-color: $darkPurple;
    color: $white;
    border: 2px solid $lightPurple;
  }
}

.secondary-button {

  background-color: transparent;
  border: 2px solid $darkBlue;
  padding: 0 20px;
  color: $darkPurple;
  font-family: $secondary;
  font-size: 15px;
  width: 100%;
  transition: all .5s ease;
  font-weight: $bold;

  &:hover {
    background-color: $lightBlue;
    border: 2px solid $darkBlue;
  }
}

.relative {
  position: relative;
}

.light-purple {
  background-color: $lightPurple;
}

.white-bg {
  background-color: $white;
}

.tag {
  margin: 10px;
}


.external {
  padding: 10px 40px;
  border-radius: 8px;
}

.PIN_1564504573728_embed_grid {
  width: 400px;
}

.overflow-hidden {
  overflow: hidden;
}

.inline {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    padding: 10px;
  }

  img {
    width: 70px;
  }
}

//toggle 

.check input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.check label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  border-radius: 100px;
  position: relative;
  top: 5px;
}

.check label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.check input:checked+label {
  background: $darkBlue;
}

.check input:checked+label:after {
  left: calc(100%);
  transform: translateX(-100%);
}

.check label:active:after {
  width: 10px;
}


// toast message

.toast {
  background-color: $lightBlue;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 20px 70px;
  margin: 0 auto;
  bottom: -20%;
  opacity: 0;
  left: 50vw;
  transition: all .5s ease;
  border: 1px solid red;
  border-radius: 8px;
  color: $darkPurple;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.418);

  .icon {
    position: absolute;
    left: 0;
    background-color: #FDBCBC;
    padding: 30px;
    border-right: 1px solid red;
    border-radius: 8px 0 0 8px;
  }

}

.showToast {
  bottom: 10%;
  opacity: 1;
}

.iconImage {
  max-width: 100px;
}

.errorText {
  color: red;
  font-weight: 700;
}

.inputError {
  border: 1px solid red !important;
}