@import '../../scss/mixins/LayoutMixins.scss';

@include for-phone-only {
  .icon-nav {
    display: none !important;
  }
}

@include for-tablet-portrait-up {
  .icon-nav {
    display: none !important;
  }
}

@include for-tablet-landscape-up {
  .icon-nav {
    max-height: 180px;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    background-color: #fff !important;
    display: flex !important;

    .columns {
      width: 100%;
    }

    .right {
      display: flex;
      justify-content: flex-end;
    }

    .logo {
      max-width: 400px;
      width: 100%;
      height: auto;
    }

    .navbar-end {
      display: flex;
      justify-content: flex-end;
      align-content: center;
      align-items: center;
    }

    a {
      font-family: 'Lato', sans-serif;
      font-size: 10px;
      color: $darkPurple;
      text-transform: capitalize;
      max-width: 82px;

    }

    .icons {
      width: 52px;
    }

    .icon-link-tags {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }



  }
}


@include for-desktop-up {}

.icon-nav {
  max-height: 180px;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  background-color: #fff !important;

  .right {
    display: flex;
    align-items: center;
  }

  .logo {
    max-width: 600px;
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .navbar-end {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
  }

  a {
    font-size: 15px;
    color: $darkPurple;
    text-transform: capitalize;
    max-width: 82px;

  }

  .icons {
    width: 72px;
  }

  .icon-link-tags {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul {
    display: flex;

    li {
      float: left;
      padding: 0px 10px;
      height: 100%;
    }
  }

  ul {
    margin: 0;
  }
}