.about {
  @include large-padding-top;
  @include large-padding-bottom;
  background-color: $lightBlue;
  text-align: center;

  .social-icons {
    padding: 0;
    background: none;
    color: $darkPurple;
    border: none;
    font-size: 20px;
    text-transform: none;
  }

  .profile-img {
    width: 270px;
  }

  ul {
    @include medium-padding-top;
    list-style-type: none;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  ul li a {
    float: left;
    margin: 10px;
    font-size: 25px;
    color: #695395;
  }
}