@import '../mixins/LayoutMixins.scss';


.collections {
  @include large-padding-top;
  @include large-padding-bottom;

  .slick-track {
    display: flex;


    .grey {
      background-color: rgb(231, 231, 231);
    }

  }

  a {
    @include custom-padding(10px, 40px, 10px, 40px);
    border-radius: 4px;
  }

}


@include for-tablet-landscape-up {
  .collections {
    @include large-padding-top;
    @include large-padding-bottom;

    .slick-track {
      display: flex;



      .grey {
        background-color: rgb(231, 231, 231);
      }

    }

    a {
      @include custom-padding(10px, 40px, 10px, 40px);
      border-radius: 4px;
    }

  }
}

@include for-desktop-up {}