@import '../mixins/LayoutMixins.scss';

@include for-tablet-landscape-up {
  .collections {
    @include large-padding-top;
    @include large-padding-bottom;

    .slick-track {
      display: flex;

      img {
        max-width: 150px;
      }

      .grey {
        background-color: rgb(231, 231, 231);
      }

    }

    a {
      @include custom-padding(10px, 40px, 10px, 40px);
      border-radius: 4px;
    }

  }
}


@include for-desktop-up {

  .collections {
    @include large-padding-top;
    @include large-padding-bottom;

    .slick-track {
      display: flex;

      img {
        max-width: 300px;
      }

      .grey {
        background-color: rgb(231, 231, 231);
      }

    }

    a {
      @include custom-padding(10px, 40px, 10px, 40px);
      border-radius: 4px;
    }

  }
}