// Default Styles for the footer
.footer {
  display: flex;
  background-color: $lightPurple !important; // overwrite bulma purple
  padding: 0 !important;
  justify-content: space-around;
  height: 50px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      float: left;
      padding: 0px 10px;
      height: 100%;
      display: flex;
      align-items: center;
    }

    p {
      color: $darkPurple;
    }
  }


  .icon-button {
    background-color: $lightPurple !important;
    color: $darkPurple;
    padding: 0;
    border: none !important;

    &:hover {
      color: $white;
      background-color: $darkPurple !important;
      transform: scale(1.1)
    }
  }

  .primary-button {
    margin: 0;
    @include custom-padding(3px, 10px, 3px, 10px);
    border: 3px solid #45316d;
    width: 40px;

    transition: all 0.5s ease;
  }

  .primary-button:hover {
    background-color: #001f3f;
  }


  form {
    display: flex;
  }

}