@import '../../scss/mixins/LayoutMixins.scss';


.title-component {
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    max-width: 70px;

  }
}

@include for-phone-only {
  .title-component {
    display: block;
  }
}

@include for-tablet-landscape-up {
  .title-component {
    display: flex;
  }
}