.mobileNav {
  display: flex;
  background-color: $lightPurple;
  position: relative;
  z-index: 3;
  text-align: left;

  .menuIcon {
    background: none;
    border: none;
    font-size: 42px;
    color: #FFF;
  }

  .toolbar {
    padding: 0 20px;
    margin: 0;
  }

  .navPanel {
    background-color: $lightPurple;
    position: fixed;
    top: 0;
    left: -500px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.281);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    height: 100%;
    max-width: 300px;
    transition: all .5s ease;
    overflow: auto;
    margin: 0;

    ul {
      width: 100%;

      li {
        border-bottom: 1px solid #f2f2f2;
        padding: 20px;
        width: 100%;


        a {
          padding: 40px;
          font-size: 15px;
        }
      }
    }

    form {
      display: flex;
      justify-content: center;
    }


    .searchBar {
      background-color: $white;
      color: $white;
      width: 100%;
      color: $darkPurple;
      left: 0;
      position: relative;
      padding: 6px;
      border-radius: 8px 0 0 8px;
      border: 1px solid $white;
      font-family: 'Roboto', sans-serif;
    }

    .searchBar::placeholder {
      color: $lightPurple;
    }

    .icon-button {
      background-color: $lightPurple !important;
      color: $white;
      padding: 0;
      border: 1px solid $darkPurple !important;
      width: 150%;

      &:hover {
        color: $white;
        background-color: $darkPurple !important;
        transform: scale(1.1)
      }
    }

    .mobileIcons {
      background-color: $white;
      height: 93%;


      ul li {
        float: left;
        text-align: center;

        .icon-link-tags {
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        .icons {
          max-width: 70px;
        }
      }
    }
  }

  .overlay {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
    display: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0.322);
    display: none;
    height: 100vh;
    transition: all .5s ease;

    &.show {
      display: block;
    }
  }

  .show {

    pointer-events: auto;
    left: 0;
    opacity: 1;
  }
}

@include for-phone-only {
  .mobileNav {
    display: flex;
    background-color: $lightPurple;
    position: fixed;
    bottom: 0;
    z-index: 3;
    text-align: left;

    .menuIcon {
      background: none;
      border: none;
      font-size: 25px;
      color: #FFF;
    }

    .toolbar {
      padding: 0 20px;
      margin: 0;
    }

    .navPanel {


      ul {
        width: 100%;

        li {
          border-bottom: 1px solid #f2f2f2;
          padding: 20px;
          width: 100%;


          a {
            padding: 40px;
            font-size: 15px;
          }
        }
      }

      .socials {
        padding: 0;
        margin-left: 40px;
      }

      .mobileIcons {
        ul li {
          float: left;

          .icons {
            max-width: 70px;
          }
        }
      }
    }

    .overlay {
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100vw;
      z-index: 1;
      display: none;
      top: 0;
      background-color: rgba(0, 0, 0, 0.322);
      display: none;
      height: 100vh;
      transition: all .5s ease;

      &.show {
        display: block;
      }
    }

    .show {

      pointer-events: auto;
      left: 0;
      opacity: 1;
    }
  }
}

@include for-tablet-portrait-up {
  .mobileNav {
    display: none;
  }
}




@include for-tablet-landscape-up {
  .tabletNav {
    display: none !important;
  }
}