.new-blog {
  .public-DraftStyleDefault-block {
    margin: 0;
  }

  .editorWrapper {
    border: 1px solid #00000014;
    padding: 20px;
    background-color: #fff;

    img {
      max-width: 400px;
    }

    .DraftStyleDefault-ul {
      margin: 0;
    }


    ul {
      list-style-type: disc;

      li {
        float: none;

      }

    }

  }

  .rdw-editor-toolbar {
    visibility: visible;
    z-index: 5;

  }

  .title-box {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    border: 1px solid #00000014;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;

    input {
      padding: 7px;
      border: none;
    }

    select {
      padding: 5px;
      border: none;
      margin-left: 10px;
      margin-right: 10px;
    }

    .buttons {
      button {
        width: 20px;
      }
    }
  }
}

h1 {
  font-family: 'Cabin' !important;

}

h2 {
  font-family: 'Lato' !important;

}


p {
  font-family: 'Roboto' !important;
}