@mixin for-tablet-portrait-up {}

@mixin for-phone-only {}

@mixin for-phone-only {
	@media (max-width: 599px) {
		@content;
	}
}

@mixin for-tablet-portrait-up {
	@media (min-width: 600px) {
		@content;
	}
}

@mixin for-tablet-landscape-up {
	@media (min-width: 900px) {
		@content;
	}
}

@mixin for-desktop-up {
	@media (min-width: 1200px) {
		@content;
	}
}

@mixin for-big-desktop-up {
	@media (min-width: 1800px) {
		@content;
	}
}

.blogPage,
.new-blog {
	overflow: hidden;

	.preview {
		h1 {
			justify-content: flex-start;
			font-family: "Cabin" !important;

			span {
				color: $darkPurple !important;
				justify-content: flex-start;
				font-family: "Cabin" !important;

				strong {
					font-family: "Cabin" !important;
					color: $darkPurple !important;
				}
			}
		}

		h4,
		h3 {
			justify-content: flex-start;
			font-family: 'Lato' !important;
			font-size: 30px;

			span {
				font-family: 'Lato' !important;
				font-size: 20px;
			}
		}

		h2 {
			justify-content: flex-start;

			span {
				font-family: 'Lato' !important;
				justify-content: flex-start;
			}
		}

		p {
			font-family: 'Roboto' !important;

			span {
				font-family: 'Roboto' !important;

			}

			&:empty {

				padding-bottom: 20px;
			}

		}

		ul {
			list-style: circle;

			li {
				float: none;
				margin-left: 1.5em;
				margin-top: 10px;

				&:empty {
					padding: 20px;
				}
			}
		}
	}

	ul li {
		float: left;
		padding: 0px 10px;
		height: 100%;
		display: flex;
		align-items: center;
	}

	.blog-title {
		padding: 20px;
	}

	.title-container {
		background-color: #f2f2f2;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 20px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.226);
	}

	.share-menu {
		margin-top: 50px;

		ul {
			@include small-padding-top;
		}

		li {
			float: left !important;
			padding: 0;
			margin-bottom: 50px;
		}
	}

	.social-icons {
		background: none;
		color: $darkPurple;
		border: none;
		font-size: 20px;
		padding-top: 20px;
		text-transform: none;
	}

	.blog-text img {
		float: none;
		height: auto;
		position: relative;
		margin: 0 auto;
		left: 27%;
		max-width: 400px;
	}
}

.comments {
	background-color: #f8f8f8;
	padding: 30px;
	@include medium-padding-bottom;

	#submitBtn {
		margin-top: 30px;
	}

	p {
		padding: 0 !important;
	}

	.commentSubmitSection {
		margin-bottom: 30px;
		padding-bottom: 20px;
	}

	.mainInput {
		padding: 10px;
		border-radius: 4px;
		border: 1px solid #f2f2f2;
	}

	textarea {
		width: 100%;
		padding: 10px;
		resize: none;
		border: 1px solid #f2f2f2;
	}

	.commentSubmit {
		display: flex;
		justify-content: center;
	}

	.flex {
		display: flex;
	}

	.card {
		margin-bottom: 10px;
		box-shadow: none;
		border: 1px solid #f2f2f2;
		border-radius: 8px;

		l .primary-button {
			background: transparent;
			border: none;
			color: $darkPurple;
		}

		h2 {
			text-align: center;
			background-color: $lightBlue;
			padding: 0 !important;
		}

		.date-column {
			flex-direction: column;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
		}

		.title {
			display: flex;
			justify-content: space-between;

			.flex-end {
				align-self: flex-end;
			}
		}

		.content {
			display: flex;
			flex-direction: column;
			padding-bottom: 10px;

			button {
				align-self: flex-end;
			}
		}
	}

	.replyButton {
		max-width: 60px;
		background: transparent;
		color: $darkPurple;
		border: none;
	}

	.replyForm {
		.close-btn {
			max-width: 10px;
			background: transparent;
			border: none;
			color: $darkPurple;
		}

		.commentInput {
			margin-top: 30px;
			margin-bottom: 30px;
		}

		.comment-textarea {
			margin-bottom: 30px;
			min-height: 200px;
			border-top: 1px solid #f2f2f2;
		}

		.submitReplyBtn {
			margin-bottom: 30px;
			max-width: 165px;
		}
	}

	.replies {
		margin-left: 50px;
		border-top: 1px solid #f2f2f2;
		@include medium-padding-bottom;

		h2 {
			background: $darkBlue;
		}
	}
}

@include for-tablet-landscape-up {
	padding: 20px;
}

@mixin for-tablet-portrait-up {}

@mixin for-phone-only {}

@mixin for-phone-only {
	@media (max-width: 599px) {
		@content;
	}
}