@import '../../scss/mixins/LayoutMixins.scss';

.blogs {
  overflow: hidden;

  .card {


    .card-body {
      padding: 10px;

    }
  }

  .blog-container {
    margin-bottom: 50px;
  }
}

@include for-phone-only {
  .blog-container {

    padding: 10px;
  }

  .is-2 {
    text-align: center;
  }
}